
<!DOCTYPE html>
<html>
<head>
    <title>Feedbacks</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Feedback List</h1>
        <ul>
            <% feedbacks.forEach(feedback => { %>
                <li>
                    <span>Feedback by <strong><%= feedback.employee_name %></strong> for review: <%= feedback.feedback_content %></span>
                </li>
            <% }) %>
        </ul>
        <form action="/employee/reviews/add" method="post">
            <select name="review" required>
                <% reviews.forEach(review => { %>
                    <option value="<%= review.id %>"><%= review.content %></option>
                <% }) %>
            </select>
            <textarea name="feedbackContent" placeholder="Feedback" required></textarea>
            <button type="submit">Submit Feedback</button>
        </form>
    </div>
</body>
